Source: lsscsi
Section: admin
Priority: optional
Maintainer: Matt Taggart <taggart@debian.org>
Build-Depends: cdbs (>= 0.4.15), debhelper (>= 4.0.0), autotools-dev
Standards-Version: 3.6.2.1

Package: lsscsi
Architecture: any
Depends: ${shlibs:Depends}
Description: list all SCSI devices and NVMe namespaces currently on system
 Uses information provided by the sysfs pseudo file system in the Linux
 kernel 2.6 series, and later, to list SCSI devices (Logical
 Units (e.g. disks)) and NVMe namespaces. It can list transport identifiers
 (e.g. SAS address of a SAS disk), protection information configuration and
 size for storage devices. Alternatively it can be used to list SCSI hosts
 (e.g. HBAs) and NVMe controllers. By default one line of information is
 output per device (or host/controller).
